body{
    background-size:cover;
    color: cyan
}
#header{
    background-color: blueviolet;
    width: 20%;
    height:13%;
}
#bodyText{
    color: lightgrey;
    width:62%;
}
h2{
    color: black;
    background-color:palevioletred;

    width: 20%;
}
#totalScore{
    background-color: palevioletred;
    width: 20%;
    height: 90px;
}

#randomNumberBox{
    height:40px;
    background-color: palevioletred;

}
#winsLossesBox{
    height:100px;
    background-color: palevioletred;
    text-align: center;
}
.container{
    width: 37%;
}
