body{
    background-size:cover;
    color: cyan
}
#header{
    background-color: blueviolet;
    width: 20%;
    height:13%;
}
#bodyText{
    color: lightgrey;
    width:62%;
}
h2{
    color: black;
    background-color:palevioletred;

    width: 20%;
}
#totalScore{
    background-color: palevioletred;
    width: 20%;
    height: 90px;
}

#randomNumberBox{
    height:84px;
    width:100px;
    background-color: palevioletred;
    float: left;
    font-size: 60px;
    text-align: center;
    border-right: 2px;
    border-style:solid;
    

}
#winsLossesBox{
    height:90px;
    background-color: palevioletred;
    text-align: center;
    width:50%;
    float: right;
}
.container{
    height: 90px;
    width: 25%;
    border: 3px;
    border-style: solid;
    border-color: black;
}
#totalScore{
    font-size:50px;
}